body
{
    
    color: #2c3e50;
    background-image: url("../imgs/PINAPPLE.jfif");
    border: 3px solid;
    background-color:#ecf0f1;
    padding: 0.4em;
    margin: 1%;
}
h1{
    border: 3px;
    background-color:#ffeaa7;
    padding: 0.4em;
    margin: 1%;
    font-family: monospace
}
table{
    background-color:#34495e;
    color: #ecf0f1;
    font-family:sans-serif;
    padding: 0.4em;
    margin: 1%;
}
#nav{
    background-color:#2ecc71;
    border: 3px solid;
    color: #2c3e50
        
    
}
td.food{
    border: 1px solid ;
    border-color: black;
    background-color:#ecf0f1;
    color:black;
}
td:hover{
    background-color: #bdc3c7;
}
tr.top
{
    border: 2px solid ;
    border-color: black;
    background-color: #27ae60;
    font:Trebuchet MS;
        
}
tr.food
{
    font-family: sans-serif
}